data/bam/*.bam
data/bam
stdoe_sge/
data/trash
CREDENTIALS_FILE.json
.snakemake/*
*.pdf
results/preprocessing/*
results/variantCalling/*
results/varlociraptor/*
vcf_files.txt
.tests/*
logs/*
ressources/*
.Rproj.user
.RData
.Rhistory
.Rprofile
*.Rproj
renv.lock
.ipynb_checkpoints/*
renv/*
